name: CI CollectSFData

env:
  artifacts_path: CollectSFData\bin\x64\artifacts
  release_path: CollectSFData\bin\x64\release
  project_name: CollectSFData
  github_owner: ${{ github.event.repository.owner.name }}

on:
  pull_request:
    types: [closed, opened]
    paths-ignore:
      - "docs/**"
      - "configurationFiles/**"
    branches:
      - master
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - name: environment
        shell: cmd
        run: set

      - name: nuget download
        shell: cmd
        run: curl https://dist.nuget.org/win-x86-commandline/latest/nuget.exe --output nuget.exe

      - name: nuget restore
        shell: cmd
        run: nuget.exe restore -Verbosity Detailed -NonInteractive -DirectDownload

      - name: nuget build / pack
        shell: cmd
        run: nuget.exe pack %project_name%\%project_name%.csproj -Verbosity Detailed -outputdirectory %artifacts_path% -NonInteractive -Build -Properties Configuration=Release

      - name: build output
        shell: cmd
        run: dir %release_path% /s

      - name: copy artifacts
        shell: cmd
        run: |
          md %artifacts_path%
          copy %release_path%\*.config %artifacts_path%
          copy %release_path%\*.exe %artifacts_path%
          copy %release_path%\*.dll %artifacts_path%

      - name: artifacts output
        shell: cmd
        run: dir %artifacts_path% /s

      - name: upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: Release
          path: ${{ env.artifacts_path }}

  release:
    if: success() && github.event.pull_request.merged == true && github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'Release')
    needs: build
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - name: environment
        shell: cmd
        run: set

      - name: download artifact
        uses: actions/download-artifact@master
        with:
          name: Release
          path: ${{ env.release_path }}

      - name: release output
        shell: cmd
        run: dir %release_path% /s

      - name: nuget push
        shell: cmd
        run: |
          echo #not working needs codesign
          echo nuget.exe push %artifacts_path%\*.nupkg %nuget_api_key% -Verbosity Detailed -Source https://api.nuget.org/v3/index.json -SkipDuplicate -NonInteractive
          echo # working in fork, GPR blocked on upstream 
          echo nuget.exe sources add -Name 'GPR' -Verbosity Detailed -Source https://nuget.pkg.github.com/%github_owner%/index.json -NonInteractive -UserName %GITHUB_ACTOR% -Password %GITHUB_TOKEN%
          echo nuget.exe setapikey %nuget_api_key% -Source 'GPR' -Verbosity Detailed -NonInteractive
          echo nuget.exe push %artifacts_path%\*.nupkg -Verbosity Detailed -Source 'GPR' -SkipDuplicate -NonInteractive -apikey %nuget_api_key%

        env:
          nuget_api_key: ${{ secrets.ACTIONS_NUGET_PUSH_API_KEY }}
          nuget_token: ${{ secrets.ACTIONS_NUGET_PUSH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: prepare release asset
        shell: powershell
        # workflows do not have same permissions across forks. pr from same repo (branch to branch)
        run: |
          md "$($env:release_path)_upload"
          copy "$($env:release_path)\*.exe" "$($env:release_path)_upload"
          copy "$($env:release_path)\*.dll" "$($env:release_path)_upload"
          compress-archive -path "$($env:release_path)_upload\*" -destinationPath "$($env:release_path)\$($env:project_name).zip" -force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: create release
        id: create_release
        uses: actions/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.repository.name }}-${{ github.sha }}
          release_name: ${{ github.event.repository.name }}
          draft: false
          prerelease: false

      - name: upload release asset
        id: upload-release-asset
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: .\${{ env.release_path }}\${{ env.project_name }}.zip
          asset_name: ${{ env.project_name }}.zip
          asset_content_type: application/zip
